# Python
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Mac
.DS_Store

# Environment variables
.env

# Dataset files
data/

# Large ML models
models/model.pkl
models/vectorizer.pkl
